.heading {
  line-height: 1.4;
}

.joinButton {
  color: var(--blue-11) !important;
  width: fit-content;
  cursor: pointer;
}

.paragraph {
  max-width: 700px;
}

.serviceSection {
  background-color: var(--gray-4);
}
