@use "/styles/media.scss" as *;

.heading {
  line-height: 1.4;
}

.joinButton {
  color: #084678 !important;
  width: fit-content;
  cursor: pointer;

  font-size: 35px;
  padding: 35px;

  @include media("<=sm") {
    font-size: 20px;
    padding: 10px 25px;
  }
}

.paragraph {
  max-width: 900px;
}

.serviceSection {
  background-color: var(--gray-4);
}

.clientButton {
  font-size: 35px;
  padding: 35px;

  @include media("<=sm") {
    font-size: 20px;
    padding: 10px 25px;
  }
}
