.card {
  max-width: 450px;
  min-height: 250px;
  justify-self: center;
  padding: 20px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px #00000026;
}
