.card {
  max-width: 500px;
  min-height: 220px;
  justify-self: center;
  padding: 20px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px #00000026;
}

.title {
  color: var(--gray-12);
}
