@use "../../styles/media.scss" as *;

.accordionTrigger {
  border: none;
  background: none;
  padding: 20px 0px;
  margin-top: 10px;
  cursor: pointer;
  span {
    font-size: 40px;

    @include media("<=sm") {
      font-size: 20px;
    }

    @include media("<=md") {
      font-size: 30px;
    }
  }

  svg {
    transition: transform 0.3s ease;
  }
}

.accordionTrigger[data-state="open"] {
  svg {
    transform: rotate(180deg);
  }
}

.accordionContent {
  overflow: hidden;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.accordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.accordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
