.homeParagraph {
  max-width: 600px;
  letter-spacing: 1px;
  text-align: justify;
}

.clientButton {
  padding: 35px 80px;
}

.serviceSection {
  background-color: var(--gray-4);
}

.accordionSection {
  max-width: 500px;
}

.homepageTitle {
  max-width: 700px;
  line-height: 1.4;
}
