@use "/styles/media.scss" as *;

.homeParagraph {
  max-width: 700px;
  letter-spacing: 1px;
  text-align: justify;
}

.clientButton {
  padding: 45px 80px;
  font-size: 40px;

  @include media("<=sm") {
    font-size: 20px;
    padding: 10px 25px;
    margin-bottom: 30px;
  }
}

.serviceSection {
  background-color: var(--gray-4);
}

.accordionSection {
  max-width: 600px;
}

.homepageTitle {
  line-height: 1.4;
}

.smallSection {
  max-width: 1250px !important;
}

.serviceParagraph {
  max-width: 700px;
}

.exploreButton {
  font-size: 40px;
  padding: 40px;

  @include media("<=sm") {
    font-size: 20px;
    padding: 10px 25px;
  }
}
