.card {
  max-width: 800px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px #00000026;

  svg {
    height: 3em;
    width: 3em;
    vertical-align: middle;
  }
}

.title {
  font-size: clamp(30px, 5vw, 40px);
}

.content {
  color: #3d3d3d;
}
