.card {
  max-width: 500px;
  background-color: var(--gray-4);
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px #00000026;

  svg {
    height: 3em;
    width: 3em;
    vertical-align: middle;
  }
}
